<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="text-word.css" rel="stylesheet" type="text/css" media="screen" />

<title>公司信息</title>
</head>

<body>

	
<div class="large-background-now-com">
     <div class="left-over-coffe-only-one-1">
    <ul>
    <li class="left-over-coffe-text-1">公&nbsp;司&nbsp;信&nbsp;息
    </li>
    
    </ul>
    </div>
	<div class="left-para-coffe-com">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="#">工&nbsp;作&nbsp;机&nbsp;会</a>
			</li>
		</ul>
	</div>
    <div class="large-inside-text-3">
    高品质生活，源自气之站
    </div>
    
 
    <img src="/assets/map-1.png" class="large-img-inside-map"> 
	<div class="large-inside-text-small">
    气之站咨询热线：4001－857－517   地址：上海蒙自路169号3号4楼   Email:qzzcare@qzzstore.com
    </div>
  

</div>
</body>
</html>
