<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">

<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="text-word.css" rel="stylesheet" type="text/css" media="screen" />
<title>气之站</title>
</head>

<body>

<div id="index">
<div class="left-over-coffe-only-one">
    <ul>
    <li class="left-over-coffe-text-3">元气愿景
    </ul>
</div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="#">气之站介绍</a>
			</li>
            <li class="left-para-list"><a href="#">品牌故事</a>
			</li>
			<li class="left-para-list"><a href="#">新闻站</a>
			</li>
			
		</ul>
	</div>
	
  <div class="para-Y-left">
	<div class="text-para-Y">
			<p>元气</p>
			<p class="p-line-high">远景</p>
			</div>
		</div>
    
    	<div class="para-W-right"><span class="para-W-right-text">体验可持续的健康养生之道、品味更丰富的多彩生活之悦。</span></div>
	
</div>
</body>
</html>
