<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">

<title>元气愿景</title>
</head>

<body>

<div id="index">
<div class="story-topbar"></div>
	<div class="left-over-coffe-only-one" style='top:165px;'>
    	<ul>
    	<li class="left-over-coffe-text-3">元气愿景
    	</ul>
	</div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
            <li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
			<li class="left-para-list"><a href="/气之源/新闻站">新闻站</a>
			</li>
			
		</ul>
	</div>
<div class="future-middle">
<div class="para-Y-left-bc"></div>
	<div class="para-Y-left">
		<div class="text-para-Y">
			<p>元气</p>
			<p class="p-line-high">远景</p>
		</div>
	</div>
    
	<div class="para-W-right">
        <div class="para-W-right-text">体验可持续的健康养生之道、品味更丰富的多彩生活之悦。
        </div>
</div>
       <div class="left-2"></div>
	<div class="para-W-right-1">
        <div class="para-W-right-text-1">树立诚信品牌，传递核心理念：为中国市场凝聚世界顶级养生方式、健康产品，提供更安全、更高效、更可靠的服务。
        </div>
    </div>
    
    
    <div class="para-Y-left-1-bc"></div>
    <div class="para-Y-left-1">
		<div class="text-para-Y">
			<p>元气</p>
			<p class="p-line-high">使命</p>
		</div>
	</div>
	<div class="para-Y-left-2-bc"></div>
	<div class="para-Y-left-2">
		<div class="text-para-Y">
			<p>元气</p>
			<p class="p-line-high">精髓</p>
		</div>
	</div>
    
	<div class="para-W-right-2">
        <div class="para-W-right-text">我们将平衡身心的现代健康生活概念作为宗旨，为此提供世界级品质的全进口高端产品，并以丰富的经验全心全意为客户服务。</div>
    </div>
    <div class="left-4"></div>
   <div class="para-W-right-3">
        <div class="para-W-right-text">经验丰富、精益求精；富有创造力和旺盛的生命力；充满时尚正能量！</div>
   </div>
     <div class="para-Y-left-3-bc"></div>   
    <div class="para-Y-left-3">
		<div class="text-para-Y">
			<p>元气</p>
			<p class="p-line-high">个性</p>
		</div>
	</div>

</div>
<div class="story-bottombar"></div>
</div>
</body>
</html>
