<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="text-word.css" rel="stylesheet" type="text/css" media="screen" />
<title>气之站</title>
</head>

<body topmargin=0 leftmargin="0">
<center>
<div id="index">


<div class="text-position">
	<ul>
		<li class="first-line">高品质生活，源自气之站</li>
		<li class="second-line">“气之站”成立于2010年，是一家由多个专营国际优质健康食品的公司组
								成的团队。多年运营，积聚了成熟的品牌策划和市场营销经验，旨在为消费者打造最佳的健康食品。</li>

	</ul>

</div>
</div></center>
</body>
</html>
