<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="text-word.css" rel="stylesheet" type="text/css" media="screen" />
<title>气之站</title>
</head>

<body>
<div id="index">
	<div class="left-over-coffe">
    <ul>
    <li class="left-over-coffe-text-1">气之站
    </li>
    <li class="left-over-coffe-text-2">介绍
    </ul>
    </div>
        
       <div class="top-brown-bar"></div>
	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
			<li class="left-para-list"><a href="/气之源/新闻站">新闻站</a>
			</li>
		</ul>
	</div>

	<div class="text-position">
		<ul>
		<li class="first-line">高品质生活，源自气之站			 		</li>
		<li class="second-line">“气之站”成立于2010年，是一家由多个专营国际优质健康食品的公司组成的团队。多年运营，积聚了成熟的品牌策划和市场营销经验，旨在为消费者打造最佳的健康食品。</li>

		</ul>

	</div>
	<div class="bottom-brown-bar"></div>
</div>
</body>
</html>
