<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>气之站</title>
</head>

<body>
<div id="index">
	<div class="left-over-coffe">
    <ul>
    <li class="left-over-coffe-text-1" style="margin-top:-8px;">气之站
    </li>
    <li class="left-over-coffe-text-2">介绍
    </ul>
    </div>
        
       <div class="top-brown-bar"></div>
	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
			<li class="left-para-list"><a href="/气之源/新闻站">新闻站</a>
			</li>
		</ul>
	</div>

	<div class="text-position">
	<ul>
	<%=raw @page.content_for(:QZZIntroduceTitle) %>
	<%=raw @page.content_for(:QZZIntroduce) %>
	</ul>
	</div>
	<div class="bottom-brown-bar"></div>
</div>
</body>
</html>
