<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">

<title>气之站</title>
</head>

<body>

<div id="index">
	<div class="plzregister">
			<div style="font-size:24px">恭喜！订单已经生成！</div>
			<div style="font-size:24px；margin-top:10px;">订单编号为：<%= session[:orderid] %></div>
			<input id="imregister" type="button" value="查看订单" class="buttonclass"/>
			<input id="buyprocess" type="button" value="继续购物" style="margin-left:15px" class="buttonclass"/>		
	</div>
</div>
</body>
</html>
