<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="part3-jay.css" media="screen" rel="stylesheet" type="text/css" />
<title>无标题文档</title>
</head>

<body>
<div style="margin-left:20%;margin-top:-450px">
<div class="memberight">
	<div style="font-size: 24px;">会员权益</div>
	<ul>
		<li>凡购买【日纯牌】灵芝片产品及NovaSOL辅酶Q10活力素（软胶囊）产品的客户即刻成为气之站尊贵会员。</li>
		<li>气之站会员均可享受到相关产品折扣，获得气之站最新动向和优惠信息，收到不定期刊物，健康、保健、
养生知识和关怀小贴士。</li>
		<li>气之站会员将受邀（现阶段暂限定上海地区会员）参与定期的健康、保健、养生讲座活动。</li>
	</ul>
</div>
<div class="membertable">
<table  border="0">
  <tr class="memberfirstline">
    <td width="112" height="28">会员等级</td>
    <td width="225">VIP升级</td>
    <td width="222">专享折扣</td>
    <td width="312">次年会籍续期要求（为期一年）</td>
  </tr>
  <tr>
    <td  height="28">银卡</td>
    <td>购买10盒/5份礼盒装</td>
    <td>第10盒起享受10%折扣</td>
    <td>次年购买10盒/5份礼盒装产品</td>
  </tr>
  <tr>
    <td  height="28">金卡</td>
    <td>购买20盒/10份礼盒装</td>
    <td>第20盒起享受15%折扣</td>
    <td>次年购买20盒/10份礼盒装产品</td>
  </tr>
  <tr>
    <td  height="28">钻石卡</td>
    <td>购买30盒/15份礼盒装</td>
    <td>第30盒起享受20%折扣</td>
    <td>次年购买30盒/15份礼盒装产品</td>
  </tr>
</table>
</div>
</div>>
</body>
</html>
