<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<div style="margin-left:20%;margin-top:-400px;font-size:0.8em;text-align:left;">
<div class="memberight">
	<div style="font-size: 16px;">会员权益</div>
	<ul>
		<li>凡购买【日纯牌】灵芝片产品的客户即刻成为气之站尊贵会员。</li>
		<li>气之站会员均可享受到相关产品折扣，获得气之站最新动向和优惠信息，收到不定期刊物，健康、保健、
养生知识和关怀小贴士。</li>
		<li>气之站会员将受邀（现阶段暂限定上海地区会员）参与定期的健康、保健、养生讲座活动。</li>
	</ul>
</div>
<div class="membertable" style='margin-left: 35px;'>
<%=raw @page.content_for(:memberRightTable) %>
</div>
</div>>
</body>
</html>
