<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<title>气之站</title>
</head>

<body>

<div id="index">
<div class="story-topbar"></div>
<div class="left-over-coffe-only-one">
    <ul>
    <li class="left-over-coffe-text-3">新闻站
    </ul>
    </div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
		</ul>
	</div>


<div class="paradize-div">
	<div class="para-text-1">
		<img src="/assets/small-paradize.png" class="before-para">
		<span class="text-between-lines-3">“气之站”健康食品中国首发养生茶会</span>
	</div>
	
    <div class="para-text-1-1">

 		 <p class="text-between-lines-2-first">讲座时间：2014年4月18日（周五） 14:00    </p>
  		<p class="text-between-lines-2">主办方: 气之站    </p>
		<p class="text-between-lines-2">特邀两位嘉宾讲师与您共同分享健康养生之道!</p>
  		<p class="text-between-lines-2">黄宗瀚医生： &nbsp;&nbsp;沪上知名的中医师及医学博士。为了坚持中医人的志业，不忘初衷地将中医生活化及多元化。在家传、西学、中西医汇通的历练后引领了新中医思想及专业、传承、精品、人文的中医新风潮。从他身上，可见对中医的热爱和不遗余力，传承了阴阳家对自然生命的积极负责。    </p>
 		<p class="text-between-lines-2">Suki Chan： &nbsp;&nbsp;国际健康及营养品资深顾问。 拥有超过15年讲解灵芝及各类营养保健知识的经验。</p>
		 <p class="text-between-lines-2"><a href="http://www.theorientalclub.com.cn/cn/Notice/201442272.html#title" style="color:black" target="_blank">举办地点：欧兰特俱乐部林公馆 上海市静安区愚园路469号  </a></p>
	</div>

</div>
   <div class="news-bottombar"></div>
</div>
</body>
</html>
