<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>气之站</title>
</head>

<body>

<div id="index">

<div class="left-over-coffe-only-one">
    <ul>
    <li class="left-over-coffe-text-3">新闻站
    </ul>
</div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
		</ul>
	</div>

<div class="para-text-1">
		<img src="/assets/small-paradize.png" class="before-para">
		<span class="text-between-lines-3">元气第一站&nbsp;&nbsp;|&nbsp;&nbsp;养生课</span>		
</div>
<a href="/%E6%B0%94%E4%B9%8B%E6%BA%90/%E6%96%B0%E9%97%BB%E6%96%87%E6%A1%88"><img src="/assets/angle-for-right.png" width="35px" style="position: absolute;top: 60%;left:55%"/></a>

</div>
</body>
</html>
