<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>气之站</title>
</head>

<body>

<div id="index">

<div class="story-topbar"></div>

<div class="left-over-coffe-only-one" style='top:165px;'>
    <ul>
    <li class="left-over-coffe-text-3">新闻站
    </ul>
</div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
		</ul>
	</div>

<div class="para-text-1" style='left:45%;'>
		<img src="/assets/small-paradize.png" class="before-para">
		<%=raw @page.content_for(:QZZNewsContent1)%> 
</div>
<div style='text-align: left;font-size: 1em;position: absolute;left: 44.5%;top:225px;'>
		<img src="/assets/small-paradize.png" class="before-para">
		<%=raw @page.content_for(:QZZNewsContent2)%> 
</div>
<div class="story-bottombar"></div>

</div>
</body>
</html>
