<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<title>气之站</title>
</head>

<body>

<div id="index">
<div class="story-topbar"></div>
<div class="left-over-coffe-only-one" style='top:165px;'>
    <ul>
    <li class="left-over-coffe-text-3">新闻站
    </ul>
    </div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
		</ul>
	</div>


<div class="paradize-div">
	<div class="para-text-1">
		<img src="/assets/small-paradize.png" class="before-para">
		<span class="text-between-lines-3">“气之站”健康食品中国首发养生茶会</span>
	</div>
	<%=raw @page.content_for(:healthTeaPartyDiv)%>
</div>
   <div class="news-bottombar"></div>
</div>
</body>
</html>
