<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">

<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="text-word.css" rel="stylesheet" type="text/css" media="screen" />
<title>气之站</title>
</head>

<body topmargin=0 leftmargin="0">
<center>
<div id="index">



<div class="paradize-div">

<img src="../qzz-img/small-paradize.png" class="before-para">
<span class="para-text-1">元气第一站  |  养生课堂  </span>

</div>

</div></center>
</body>
</html>
