<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<title>气之站</title>
<style type='text/css'>
	#motherHeadlineDiv{text-align: left;font-size: 1em;position: absolute;left: 34%;top:330px;}
	#textArea1{ top: 160px;}
	#textArea2{ top: 350px;}
	#textArea3{ top: 368px;}
	#textArea4{ left:35%;top: 390px;font-size:0.9em;}
</style>
</head>

<body>

<div id="index">
<div class="story-topbar"></div>
<div class="left-over-coffe-only-one" style='top:165px;'>
    <ul>
    <li class="left-over-coffe-text-3">新闻站
    </ul>
    </div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
		</ul>
	</div>

<div class="paradize-div">	
    <%=raw @page.content_for(:careForMotherDiv)%>
	<div style='height: 1px;border: 1px solid #937145;position: absolute;width: 530px;background-color: #937145;top:305px ;left: 35%;'></div>
	<%=raw @page.content_for(:couponRuleDiv)%>
	<div style="position: absolute;top:190px ;right: 7%;z-index:-1;"><%=raw @page.content_for(:thanksMotherImageDiv)%></div>
</div>
   <div class="news-bottombar"></div>
</div>
</body>
</html>