<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<title>气之站</title>
</head>

<body>

<div id="index">
<div class="story-topbar"></div>
<div class="left-over-coffe-only-one" style='top:165px;'>
    <ul>
    <li class="left-over-coffe-text-3">新闻站
    </ul>
    </div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/品牌故事">品牌故事</a>
			</li>
		</ul>
	</div>

<div class="paradize-div">
	<div style='text-align: left;font-size: 1em;position: absolute;left: 34%;top: 12%;'>
		<img src="/assets/small-paradize.png" class="before-para">
		<span class="text-between-lines-3">感恩母亲 健康回馈</span>
	</div>
	
    <div class="para-text-div">
  		<p class="paragraph-between-lines">关爱母亲特惠活动—礼盒7折限时不限购</p>
		<p class="paragraph-between-lines">此次活动截止至5月31日，为母亲健康赶快行动吧！</p>
		<p class="paragraph-between-lines">母亲节即将来临，【日纯牌】灵芝片是送给母亲最有爱的真挚礼物。通过传统原生态栽培、
				精心筛选、科学制剂、严格检测、环保包装精制而成的【日纯牌】灵芝片是在中国唯一获得“国食健字”的进口灵芝产品，
				长期服食不上火，无副作用，能在整体上双向调节人体机能平衡，促使内脏和器官机能正常化，具有补气安神、止咳平喘、
				滋阴养心、祛斑去黄气等功效，并可以有效缓解高血压、糖尿病、肺虚咳喘和更年期综合症等众多疾病的困扰。母亲的健康
				是我们的福报，选择【日纯牌】灵芝片，让母亲更健康更美丽。
		</p>
	</div>
	<div style='height: 1px;border: 1px solid #937145;position: absolute;width: 530px;background-color: #937145;top: 41%;left: 35%;'></div>
	<div style='text-align: left;font-size: 1em;position: absolute;left: 34%;top: 43%;'>
		<img src="/assets/small-paradize.png" class="before-para">
		<span class="text-between-lines-3">“气之站”现推出为母亲送爱心特惠活动</span>
	</div>
	<div class="para-text-1" style=" top: 46%;">
		<img src="/assets/small-paradize.png" class="before-para">
		<span class="text-between-lines-3">1.灵芝礼盒（内附两盒【日纯牌】灵芝片）<span style='color:#937145'>限时7折优惠： 3,682元</span>（原价5,260元）</span>
	</div>
	<div class="para-text-1" style=" top: 49%;">
		<img src="/assets/small-paradize.png" class="before-para">
		<span class="text-between-lines-3">2.购买礼盒即可成为“气之站”<span style='color:#937145'>尊贵钻石会员</span>，以后购买本站任意产品可享受8.5折优惠。</span>
	</div>
	<div class="para-text-1" style=" left:35%;top: 53%;font-size:0.9em;">
		<p style='margin-bottom:5px;'><a href='/%E6%B0%94%E4%B9%8B%E8%B4%AD/%E9%A2%84%E8%AE%A2%E5%8D%95?sku=0002'><span style='display: block;height: 24px;width: 80px;background-color: #937145;text-align: center;padding-top: 6px;border-radius: 10px;'>在线购买</span></a></p>
		<p style='margin:0;font-size:12px;'>指定优惠码：<span style='background-color: #937145;color: white;'>WX140501</span></p>
		<!--<p style='margin-top:5px;font-size:12px;'>每人仅限享受一次活动优惠，重复输入优惠码无效</p>-->
	</div>
	<div style='position: absolute;top: 23%;right: 7%;z-index:-1;'><img src='/assets/motherGift.png'></div>
</div>
   <div class="news-bottombar"></div>
</div>
</body>
</html>
