<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="text-word.css" rel="stylesheet" type="text/css" media="screen" />
<title>气之站</title>
</head>

<body>

<div id="index">

<div class="left-over-coffe">
    <ul>
    <li class="left-over-coffe-text-3">新闻站
    </ul>
    </div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="#">气之站介绍</a>
			</li>
			<li class="left-para-list"><a href="#">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="#">品牌故事</a>
			</li>
		</ul>
	</div>


<div class="paradize-div">
	<div class="para-text-1">
		<img src="/assets/small-paradize.png" class="before-para">
		<span class="text-between-lines-3">元气第一站&nbsp;&nbsp;|&nbsp;&nbsp;养生课</span>
	</div>
	
    <div class="para-text-1-1">

 		 <p class="text-between-lines-2-first">讲座时间：2013年9月6日 15:00    </p>
  		<p class="text-between-lines-2">主办方: 气之站    </p>
  		<p class="text-between-lines-2">嘉宾讲师：黄宗瀚医生  
    出身台湾中医世家，沪上知名中医师及医学博士。 坚持中医人志业，将中医生活化及多元化。在家传、西学、中西医汇通的历练后引领了新中医思想及专业、传承、精品、人文的中医新风潮。    </p>
 		 <p class="text-between-lines-2">举办地点：上海市静安区愚园路469号  欧兰特俱乐部上海分部    </p>
 		 <p class="text-between-lines-2">（链接：欧兰特俱乐部上海分部http://www.theorientalclub.com.cn/cn/index03.html）</p>
	</div>

</div>

</div>
</body>
</html>
