<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<link href="/assets/layout.css" rel="stylesheet" type="text/css" media="screen" />
<title>气之站</title>
</head>

<body topmargin=0 leftmargin="0">
<center>
<div id="index">
	<div class="center-jay">
		<div style="margin-left:-200px;">
			<div>注册成功</div>
			<div>您已经成为气之站注册用户</div>
		</div>
		<div>
			<div class="order-success-pic"><img src="/assets/two-dimension.jpg" /></div>
			<div>
				<div class="order-sucess-text">微博：气之站weibo.com/qzzstore</div>
				<div class="order-sucess-text">微信：气之站(会员互动生活更精彩)</div>
				<div class="order-sucess-text">关注气之站，踏出健康第一步</div>
			</div>
		</div>				
	</div>
</div>
</center>
</body>
</html>
