<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">

<title>气之站</title>
</head>

<body>

<div id="index">
	<div class="left-over-coffe-only-one">
    	<ul>
    		<li class="left-over-coffe-text-3">产品介绍</li>
    	</ul>
    </div>

	<div class="left-para-coffe">
		<ul>
			<li><a href="#">日纯牌灵芝片</a>
			</li>
		</ul>
	</div>

	<div class="plzregister">
			<div style="font-size:24px">预购前需注册用户！</div>
			<input id="imregister" type="button" value="立即注册" class="buttonclass"/>
			<input id="buyprocess" type="button" value="订购流程" style="margin-left:15px" class="buttonclass"/>		
	</div>
</div>
</body>
</html>
