<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">

<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="text-word.css" rel="stylesheet" type="text/css" media="screen" />
<title>气之站</title>
</head>

<body>

<div id="index">

<div class="left-over-coffe-only-one-black">
    <ul>
    <li class="left-over-coffe-text-3">在线订购
    </ul>
</div>
<div class="white-blank-pro1">
	<div class="coffe-blank-pro1-top">
   日纯牌灵芝片
    </div>
    
    <a href="/%E6%B0%94%E4%B9%8B%E8%B4%AD/%E6%97%A5%E7%BA%AF%E7%89%8C%E7%81%B5%E8%8A%9D%E7%89%87"><img src="/assets/product1.png" class="img-blank-pro1-inside"></a>
    
</div>
<div class="left-over-coffe-only-one-black">
    <ul>
    <li class="left-over-coffe-text-3">在线订购
    </ul>
</div>

<div class="white-blank-pro2">
	<div class="coffe-blank-pro1-top-2">
   Novasol&nbsp;Q10
    </div>
    
    <img src="/assets/product2.png" class="img-blank-pro1-inside-2">
    
</div>
	

</div>
</body>
</html>
