<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">
<title>气之站</title>

<link rel="stylesheet" href="flexslider1.css" type="text/css" media="screen" />
<link rel="stylesheet" href="flexslider2.css" type="text/css" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="jquery.flexslider-min.js"></script>


<% content_for :javascripts do %>
<script type="text/javascript">

$(function(){
	$(".img-blank-pro1-inside-1").mouseover(function(){		
		$(".pop").fadeToggle('fast');	
		
	})
	$(".pop").mouseout(function(){
		$(".pop").hide();
	})
})

$(function(){
	$(".img-blank-pro1-inside-3").mouseover(function(){		
		$(".pop2").fadeToggle('fast');	
		
	})
	$(".pop").mouseout(function(){
		$(".pop2").hide();
	})
})
</script>

<script type="text/javascript">
$(window).load(function() {
  $('.flexslider1').flexslider({
    animation: "fade",
    controlNav: false,
    animationLoop: true, 
    slideshowSpeed: 4000,
  });
});
</script>
<script type="text/javascript">
$(window).load(function() {
  $('.flexslider2').flexslider({
    animation: "fade",
    controlNav: false,
    animationLoop: true,
    slideshowSpeed: 5003, 
  });
});
</script>

<% end %>
</head>

<body>

<div id="index">

<div class="left-over-coffe-only-one-black">
    <ul>
    <li class="left-over-coffe-text-3">在线订购
    </ul>
</div>
<div class="white-blank-pro1">
		<div class="pop" style="">
			
				<p>
				配料：蔗糖、淀粉、碳酸钙、灵芝提取物、麦芽糖醇、羟丙甲
          纤维素、二氧化硅、阿拉伯胶、羧甲纤维素钙、蔗糖脂 
           肪酸脂、鱼明胶、聚乙二醇6000、虫胶、巴西棕榈蜡、     
            焦糖色素、胭脂红色素
				</p>
				<p>
				保健功能：增强免疫力
				</p>
				<p>
				适宜人群：免疫力低下者
				</p>
				<p>
				贮藏方法：常温保存
				</p>
				<p>
				食用方法及食用量：每日2次，每次4片，早/午饭前空腹服食
				</p>
				<p>
				生产国：日本
				</p>
			
		</div>
	<div class="coffe-blank-pro1-over">
    	<ul>
   		 	<li>日纯牌灵芝片</li>
            <li>一盒日纯牌灵芝片=6600毫克灵芝精粉！</li>
    	</ul>
    </div> 

    <div class="flexslider1" style="width:204px;height:179px;margin-left:70px;">
        <ul class="slides">
            <li>
                <img src="/assets/product3-1.png" class="img-blank-pro1-inside-1">
            </li>
            <li>
                <img src="/assets/product3-2.png" class="img-blank-pro1-inside-1">
            </li>
            <li>
                <img src="/assets/product3-3.png" class="img-blank-pro1-inside-1">
            </li>
            <li>
                <img src="/assets/product3-4.png" class="img-blank-pro1-inside-1">
            </li>

        </ul>
   </div> 
    

    <div class="number-text-1">
    	<ul>
   			 <li>60袋/120片</li>
             <li>2688元</li>
    	</ul> 
    </div>
    <div class="button-product2">
                     <input id="saveinformation"   type="button" value="添加到购物车" onclick="gotobuy()">
     </div>
     
</div>
<div class="coffe-slim-blank-pro1">
</div>

<div class="white-blank-pro2">
	<div class="pop2" style="">
			
				<p>
				配料：蔗糖、淀粉、碳酸钙、灵芝提取物、麦芽糖醇、羟丙甲
          纤维素、二氧化硅、阿拉伯胶、羧甲纤维素钙、蔗糖脂 
           肪酸脂、鱼明胶、聚乙二醇6000、虫胶、巴西棕榈蜡、     
            焦糖色素、胭脂红色素
				</p>
				<p>
				保健功能：增强免疫力
				</p>
				<p>
				适宜人群：免疫力低下者
				</p>
				<p>
				贮藏方法：常温保存
				</p>
				<p>
				食用方法及食用量：每日2次，每次4片，早/午饭前空腹服食
				</p>
				<p>
				生产国：日本
				</p>
			
		</div>
    	<div class="flexslider2" style="width:188px;height:184px;margin-left:70px;margin-top:10px;">
        <ul class="slides">
            <li>
                <img src="/assets/product4-1.jpg" class="img-blank-pro1-inside-3">
            </li>
            <li>
                <img src="/assets/product4-2.jpg" class="img-blank-pro1-inside-3">
            </li>
            <li>
                <img src="/assets/product4-3.jpg" class="img-blank-pro1-inside-3">
            </li>
            <li>
                <img src="/assets/product4-4.jpg" class="img-blank-pro1-inside-3">
            </li>

        </ul>
    </div>
    
    <div class="number-text-2">
    	<ul>
   			 <li>2盒装/120袋/240片 </li>
             <li>5576元</li>
    	</ul> 
    </div>
    <div class="button-product2">
                     <input id="saveinformation"   type="submit" value="添加到购物车"  >
     </div>
</div>
<div class="coffe-slim-blank-pro2">
</div>
	

</div>
</body>
</html>
