<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">

<link href="layout.css" rel="stylesheet" type="text/css" media="screen" />
<link href="text-word.css" rel="stylesheet" type="text/css" media="screen" />
<title>气之站</title>
</head>

<body>

<div id="index">

<div class="left-over-coffe-only-one-black">
    <ul>
    <li class="left-over-coffe-text-3">在线订购
    </ul>
</div>
<div class="white-blank-pro1">
	<div class="coffe-blank-pro1-over">
    	<ul>
   		 	<li>日纯牌灵芝片</li>
            <li>一盒日纯牌灵芝片=6600毫克灵芝精粉！</li>
    	</ul>
    </div> 
    <img src="/assets/product3.png" class="img-blank-pro1-inside-1">
    <div class="number-text-1">
    	<ul>
   			 <li>60袋/120片</li>
             <li>2688元</li>
    	</ul> 
    </div>
    <div class="button-product2">
                     <input id="saveinformation"   type="submit" value="添加到购物车"  >
     </div>
</div>
<div class="left-over-coffe-only-one-black">
    <ul>
    <li class="left-over-coffe-text-3">在线订购
    </ul>
</div>

<div class="white-blank-pro2">
	
    <img src="/assets/product4.png" class="img-blank-pro1-inside-3">
    <div class="number-text-2">
    	<ul>
   			 <li>2盒装/120袋/240片 </li>
             <li>5576元</li>
    	</ul> 
    </div>
    <div class="button-product2">
                     <input id="saveinformation"   type="submit" value="添加到购物车"  >
     </div>
</div>
	

</div>
</body>
</html>
