<!DOCTYPE html ><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NovaSOL Q10-介绍</title>
</head>

<link href="product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content">
<div class="product02_content_01">
    <div class="Q10-txt01">
             <div class="lingzhi-txt11">
             NOVASOL
             </div>
             <div class="lingzhi-txt11">
             辅酶Q10活力素（软胶囊）介绍
             </div>
             <div class="lingzhi-txt12">
             Q10全称辅酶Q10(Coenzyme Q10),是一种帮助人体细胞生产能量的天然维生素，也是一种很强的脂溶性抗氧化剂。
             </div>
     </div>
</div>
<div class="product02_content_02">
           <img class="product01-pic02" src="/asset/small-paradize2.png">
           <div class="Q10-txt02" > 
                 7大功效：
            </div> 
            <img  class="product02_content_02_right" src="/assets/beautiful-girl.png" width="50%" height="65%">         
            <div >
                 <div class="Q10_txt05" >
                 延缓皮肤老化，维持肌肤弹性，肌肤幼嫩紧致
                 </div>
                 <div class="Q10_txt05" >
                 促进细胞新城代谢，提升身体活力，改善疲劳
                </div>
                <div class="Q10_txt05" >
                 有助心肌产生足够细胞能量，强化心脏
                 </div>
                 <div class="Q10_txt05" >
                 调整血压，增强心血管功能
                 </div>
                 <div class="Q10_txt05" >
                 增强免疫力
                 </div>
                 <div class="Q10_txt05" >
                 抗氧化，全面抵抗自由基
                 </div>
           </div>

</div>
</div>
</body>
</html>
