<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日纯灵芝-制作</title>
</head>
<link href="product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content2">
     <div class="product01_content_04">
            <ul>
                 <li>
                         <div class="lingzhi_txt08">
                         原木培植，无农药，无污染，科学精制，安全可靠高品质
                         </div>
                         <div class="lingzhi_txt09">
                         热水抽出法，萃取高浓度赤灵芝精华
                         </div>
                         <div class="lingzhi_txt06">
                         作为健康食品领域的佼佼者，【日纯牌】灵芝片使用最先进的热水抽出法萃取出高浓度的赤灵芝子实体精华，制成独立包装的高品质粒状灵芝丸锭
                         </div>
                 </li>
                 <li class="lingzhi_txt08">
                         制造过程： 赤灵芝栽培过程→质量检测→萃取工程→包装工程
                 </li>
            </ul>
     
            <div>
                         <img class="product01-pic01" src="/assets/buy-2-1.png" width="12%" height="12%">
                         <div class="lingzhi-txt10"></div>
                         <img class="product01-pic02" src="/assets/buy-2-2.png" width="12%" height="12%">
                         <div class="lingzhi-txt10"></div>                       
                         <img class="product01-pic03" src="/assets/buy-2-3.png" width="100" height="100">
                         <div class="lingzhi-txt10"></div>
                         <img class="product01-pic04" src="/assets/buy-2-4.png" width="25%" height="25%">
            </div>
            
            <a href="/home/QZZvideo" target="_blank" class="lingzhi-txt07">观看灵芝片视频</a>
            <a href="/%E6%B0%94%E4%B9%8B%E5%93%81/lingzhi-buy-1" class="lingzhi-txt07">返回</a>
           
     </div>
</div>
 <a href="/%E6%B0%94%E4%B9%8B%E5%93%81/lingzhi-buy-3"><img src="/assets/angle-for-right.png" width="35px" style="position: absolute;top: 60%;left:55%"/></a>
</body>
</html>
