<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日纯灵芝-购买</title>
</head>

<body>
<div class="content2">
    <div class="product01_content_03">
         <div class="product_content_03_top">
						<%=raw @page.content_for(:productIntroduceList)%>
        </div>
   
         <a href="/%E6%B0%94%E4%B9%8B%E8%B4%AD/%E6%97%A5%E7%BA%AF%E7%89%8C%E7%81%B5%E8%8A%9D%E7%89%87"><input  type="button" value="购买日纯牌灵芝片" id="lignzhi-buy" class="lingzhi-txt07"></a>
         
         <a href="/%E6%B0%94%E4%B9%8B%E5%93%81/lingzhi-buy-2" class="lingzhi-txt07">返回</a>
    </div>
</div>

</body>
</html>
