<html>
	<head>
	<style type="text/css">
		#containerDiv{
			height:100%;
			width:100%;
			background-color:black;
			z-index:1000;
			position:absolute;
			top:0;
			left:0;
		}
		#videoDiv{
			position:absolute;
			height:400px;
			width:700px;
			top:50%;
			left:50%;
			margin-left:-350px;
			margin-top:-200px;
		}
		#logoDiv{
			position:fixed;
			right:5%;
			top:12%;
		}
		#logoImg{
			height:205px;
			width:75px;
		}
	</style>
	</head>
	<body>
	<div id="containerDiv">
	<div id="videoDiv">
		<!--<embed src="http://player.youku.com/player.php/sid/XNjU4MDAyMjky/v.swf" allowFullScreen="true" quality="high" width="700" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
	-->
	<embed src="http://player.youku.com/player.php/sid/XNzA4MzE4MzIw/v.swf" allowFullScreen="true" quality="high" width="700" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
	</div>
	<div id="logoDiv">
		<a href="/home"><img id="logoImg" src="/assets/qzz-logo-main.png"></a>
	</div>
	</div>
	</body>
</html>