<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NovaSOL Q10-购买</title>
</head>
<link href="product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content">
<div class="product02_content_03">
     <div class="product02_content_03_top">
           <img class="product01-pic02" src="/assets/small-paradize2.png">
           <div class="Q10-txt03" > 
                 NovaSOL Q10 优势
            </div>           
            <div class="Q10-txt04" >
                 专利微颗粒化技术（Micellation Technology），促进提高生化效应。
            </div>
            <div class="Q10-txt04" >
                 水油兼容，吸收更佳
            </div>
            <div class="Q10-txt04" >
                 多重认证，安全保障
            </div>
            <div class="Q10-txt04" >
                 专业人士推荐
            </div>
      </div>
      <input  type="button" value="购买日纯灵芝" id="Q10-buy" class="lingzhi-txt07">
      <input  type="button" value="返回" id="Q10-return" class="lingzhi-txt07">     
</div>
</div>
</body>
</html>
