<!DOCTYPE html ><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NovaSOL Q10-介绍</title>
</head>

<link href="/assets/product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content2" style="margin-top:-450px">
<div class="product02_content_01">
    <div class="Q10-txt01">
             <div class="lingzhi-txt11">
             NOVASOL
             </div>
             <div class="lingzhi-txt11">
             辅酶Q10活力素（软胶囊）介绍
             </div>
             <div class="lingzhi-txt12">
             Q10全称辅酶Q10(Coenzyme Q10),是一种帮助人体细胞生产能量的天然维生素，也是一种很强的脂溶性抗氧化剂。
             </div>
     </div>
</div>
<div class="product02_content_02">
           <img class="product01-pic02" src="/assets/small-paradize2.png">
           <%=raw @page.content_for(:content) %>


</div>
</div>
</body>
</html>
