<html>
	<head>
	</head>
	<body>
	<div id="containerDiv">
	<div id="videoDiv">
		<!--<embed src="http://player.youku.com/player.php/sid/XNjU4MDAyMjky/v.swf" allowFullScreen="true" quality="high" width="700" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
	-->
	<embed src="http://player.youku.com/player.php/sid/XNzA4MzE4MzIw/v.swf" allowFullScreen="true" quality="high" width="700" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
	</div>
	<div id="logoDiv">
		<a href="/home"><img id="logoImg" src="/assets/qzz-logo-main.png"></a>
	</div>
	</div>
	</body>
</html>
