<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>QZZ website sign up</title>
</head>
<style>
.mCSB_scrollTools{
	margin-top:200px;
}
.mCSB_scrollTools .mCSB_draggerContainer .mCSB_draggerRail{
	background-color:#937145;
	width:10px;
	height:155px;
}
.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger .mCSB_dragger_bar{
	background-color:#e2c675;
	width:10px;
	height:50px;
}
</style>
<body>
<div class="contentbox">
<div class="content_top">我的气之站MY QZZSTORE</div>
<div class="content" style="margin-top:0px;width:800px;z-index:1;">
   <div class="content-in">
                <table class="content_tab" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td class="history_txt01">我的购买历史及积分查询</td>
                     </tr>
               </table>
               <table id="orderHistoryTab" class="content_tab" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td class="history_txt02" style="cursor:pointer;"> </td>
                              <td class="history_txt03"> </td>
                              <td class="history_txt04"> </td>                             
                     </tr>
               </table>           
               
</div>
</div>

<% content_for :javascripts do %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script>
	$(document).ready(function(){
		getOrderHistory();
	});
</script>
<script>
	$('.history_txt02').click(function(){
		location.href="/气之购/订单详情"+$(this).html().replace('订单：','?orderId=');
	});
</script>
<!--<script>
    (function($){
        $(window).load(function(){
            $(".content").mCustomScrollbar(
			       {
					   
				   }
				);
        });
    })(jQuery);
	
</script>-->
<% end %>

</body>
</html>
