<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日纯灵芝-介绍</title>
</head>
<link href="product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content2" style="margin-top:-350px">
   <div class="product01_content_01">
       <div class="lingzhi_txt01">
       日纯牌灵芝片介绍
       </div> 
       <div class="lingzhi_txt02"> 
       100%安全有效，25年良好口碑，国家食品药品监督管理总局认证！
       </div>
       <div class="lingzhi_txt02"> 
       全进口日纯牌灵芝片，高品质健康来源！
       </div>
   </div>
   <div class="product01_content_02">
           <img class="product01-pic02" src="/assets/small-paradize2.png">
           <div class="lingzhi_txt03" > 
                 原料使用日纯牌灵芝片精选出众的赤灵芝-
            </div>
            <div class="lingzhi_txt04" >
                 一盒日纯牌灵芝片内含6600毫克灵芝精粉！
            </div>            
            <img class="lingzhi-pic" src="/assets/Lingzhi-1.png" width="35%" height="90%">
                 <div class="lingzhi_txt05" >
                 赤芝，位尊「上药」之首
                 </div>
                 <div class="lingzhi_txt05" >
                 中国最古老的医药学典籍《神农本草经》 （西元前206年~西元8年）
将365种药材列为上、中、下三等，灵芝则被尊为「上药」之首。
明朝李时珍在《本草纲目》中亦记载"赤芝，又名丹芝，苦平无毒，
主治胸中结，益心气，补中增智慧，不忘，久食轻身不老，
益寿延年。"
                </div>
                <a href="/">
                  <input type="button" value="返回" id="reputation-return" class="lingzhi-txt07">
                </a>
                <a href="/"><img src="/assets/angle-for-right.png" width="35px" style="margin-left:400px"></a>
   </div>
</div>
</body>
</html>
