<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日纯灵芝</title>
</head>
<link href="/assets/product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content">
   <div  class="product_top"></div>
   <div class="product-txt01">
         <ul>
                     <li>日纯牌</li>
                     <li class="product-txt02" >灵芝片</li>
         </ul>
   </div> 
   <div  class="product_bottom"></div> 
   <div class="product-txt03">
        <ul>
               <li><a href="/%E6%B0%94%E4%B9%8B%E5%93%81/lingzhi-buy-1">日纯牌灵芝片介绍</a></li>
               <li class="product-txt04"><a href="/%E6%B0%94%E4%B9%8B%E5%93%81/reputation">日产化学工业株式会社 — 享誉全球</a></li>
               <li class="product-txt05"><a href="http://www.richunlingzhi.com">www.richunlingzhi.com</a></li>
        </ul>
   </div>
</div>
</body>
</html>
