<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NovaSOL Q10-AQUANOVA 介绍</title>
</head>
<link href="/assets/product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content2">
    <div class="product01_content_05">
            <div class="lingzhi-txt11">
            德国AQUANOVA 介绍
            </div>
            <div class="lingzhi-txt12">
            	<%=raw @page.content_for(:introduce) %>         
            </div> 
            <a href="/%E6%B0%94%E4%B9%8B%E5%93%81/诺惠牌辅酶q10"><input  type="button" value="返回" id="AQUANOVA-return" class="lingzhi-txt07"></a>
            <img class="product01-pic05" src="/assets/aquind.png" width="60%" height="60%"> 
    </div>
</div>

</body>
</body>
</html>
