<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NovaSOL Q10-AQUANOVA 介绍</title>
</head>
<link href="product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content2">
    <div class="product01_content_05">
            <div class="lingzhi-txt11">
            德国AQUANOVA 介绍
            </div>
            <div class="lingzhi-txt12">
            德国著名权威药厂AQUANOVA于1995年成立，一直致力研发优质的健康产品。凭借原材料的溶解性和活性物质，AQUANOVA 在功能领域和技术领域领先一步。在其自有产品研发基础上，AQUANOVA 提供多种既溶于水又溶于脂肪的物质并广泛应用到各行业，如食物补充剂、功能性食品、饮料、化妆品或各类药品。
            </div> 
            <a href="/%E6%B0%94%E4%B9%8B%E5%93%81/novasol-q10"><input  type="button" value="返回" id="AQUANOVA-return" class="lingzhi-txt07"></a>
            <img class="product01-pic05" src="/assets/aquind.png" width="60%" height="60%"> 
    </div>
</div>

</body>
</body>
</html>
