<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>QZZ website sign up</title>
</head>
<link href="QZZ-signup.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="loginbox">
<div class="content_top">欢迎光临气之站QZZSTORE 网络旗舰店！</div>
<div class="login_content">                             
                <table class="content_tab" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td class="login_txt01">会员登陆</td>
                              <td >还没有帐号？立即注册好礼相送</td>
                     </tr>
               </table>
               <table class="content_tab" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td class="login_txt02">账号：</td>
                              <td class="login_input01"><input id="account" type="text" class="login_input02"></td>
                              <td class="login_txt03" ></td>
                     </tr>
               </table>
               <table class="content_tab" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td class="login_txt02">密码：</td>
                              <td class="login_input01"><input id="password" type="password" class="login_input02"></td>
                              <td class="login_txt03">忘记密码？</td>
                     </tr>
               </table>
                <table class="content_tab" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td class="login_txt02" style="width:16%">验证：</td>
                              <td class="authenticationtd login_input03"><%= show_simple_captcha(:label => "human authentication", :placeholder => "input the characters") %></td>
                              <td >
                                     <input  type="button" value="养生之道" id="PIN_show" class="login_txt04">
                             </td>
                     </tr>
               </table>
               <table class="content_tab" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                              <td class="login_txt05" ></td>
                              <td > <input  type="button" value="登陆" id="PIN_show" class="content_txt09"></td>
                              <td >
                                    <a href="/气之家/初次登录"><input type="button" value="注册" id="PIN_show" class="content_txt09"></a>
                             </td>
                             <td class="login_txt06" ></td>
                     </tr>
               </table>          
</div>
</div>

</body>
</html>

