<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日纯灵芝-声誉</title>
</head>
<link href="product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content">
    <div class="product01_content_05">
            <div class="lingzhi-txt11">
            日产化学工业株式会社 — 享誉全球
            </div>
            <div class="lingzhi-txt12">
            享誉全球120余年的日本名企 — 「日产化学工业株式会社」。20世纪80年代初，日产公司以前瞻性的市场触觉，体察到现代人提升健康的迫切需求，遂不惜巨额投资，寻找到人工培植最佳赤芝的方法，经多年研究与实验，终于成功研制出品质优异、百分百纯天然的【日纯牌】灵芝片。直至今天，【日纯牌】灵芝片已被公认为品质一流的赤灵芝健康食品，全球销量超过一亿盒！
            </div>
            <input  type="button" value="返回" id="reputation-return" class="lingzhi-txt07">
            <img class="product01-pic05" src="/assets/img/屏幕快照 2013-07-24 4.33.32 PM.png" width="60%" height="60%"> 
    </div>
</div>
</body>
</html>

