<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日纯灵芝-购买</title>
</head>

<link href="product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content2">
    <div class="product01_content_03">
         <div class="product_content_03_top">
               <ul>
                         <li>生产商 — 日产化学工业株式会社，享誉全球企业</li>
                         <li>Nissan所有灵芝产品由Nissan监督下在日本种植及培育，并遵循日本最高标准生产  </li>
                         <li>获得中国国食健字保健食品称号的进口灵芝产品</li>
              </ul>
        </div>
   
         <a href="/%E6%B0%94%E4%B9%8B%E8%B4%AD/%E6%97%A5%E7%BA%AF%E7%89%8C%E7%81%B5%E8%8A%9D%E7%89%87"><input  type="button" value="购买日纯牌灵芝片" id="lignzhi-buy" class="lingzhi-txt07"></a>
         
         <a href="/%E6%B0%94%E4%B9%8B%E5%93%81/lingzhi-buy-2" class="lingzhi-txt07">返回</a>
    </div>
</div>

</body>
</html>
