<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日纯灵芝-声誉</title>
</head>
<body>
<div class="content2">
    <div class="product01_content_05" style="height:200px;">
            <div class="lingzhi-txt11" style="margin-top:100px;">
			<%=raw @page.content_for(:reputationImage1)%>
            <p>日产化学工业株式会社 — 享誉全球</p>
            </div>
			<%=raw @page.content_for(:reputationTextDiv1)%>
            <a href="/%E6%B0%94%E4%B9%8B%E5%93%81/%E6%97%A5%E7%BA%AF%E7%89%8C%E7%81%B5%E8%8A%9D%E7%89%87" >
            <input type="button" value="返回"  class="lingzhi-txt07">
            </a>
            
            <!--<img class="product01-pic05" src="/assets/reputation.png" width="60%" height="60%"> -->
            
    </div>
</div>

</body>
</html>

