<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NovaSOL Q10</title>
</head>
<link href="product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content">
    <div  class="product_top"></div>
    <div class="product-txt01">
         <ul>
                     <li>诺惠牌辅酶</li>
                     <li class="product-txt02" >Q10软胶囊</li>
         </ul>
    </div> 
    <div  class="product_bottom"></div> 
    <div class="product-txt03">
        <ul>
               <li>关于Q10软胶囊</li>
               <li class="product-txt04">德国AQUANOVA介绍</li>
               <li class="product-txt05" >www.novasol.com.cn</li>
        </ul>
   </div>
</div>
</body>
</html>
