<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日纯灵芝</title>
</head>
<link href="product-introduce.css" rel="stylesheet" type="text/css" media="screen" />
<body>
<div class="content">
   <div  class="product_top"></div>
   <div class="product-txt01">
         <ul>
                     <li>日纯牌</li>
                     <li class="product-txt02" >灵芝片</li>
         </ul>
   </div> 
   <div  class="product_bottom"></div> 
   <div class="product-txt03">
        <ul>
               <li><a>日纯灵芝介绍</a></li>
               <li class="product-txt04"><a>日产化学工业株式会社 — 享誉全球</a></li>
               <li class="product-txt05" ><a>www.richunlingzhi.com</a></li>
        </ul>
   </div>
</div>
</body>
</html>
