<body>

<div id="index">

<div class="story-topbar"></div>

<div class="left-over-coffe-only-one" style='top:165px;'>
    <ul>
    <li class="left-over-coffe-text-3">品牌故事
    </ul>
</div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/新闻站">新闻站</a>
			</li>
		</ul>
	</div>
    <%=raw @page.content_for(:brandStoryDiv) %>

<div class="story-bottombar"></div>

</div>
</body>


