<body>

<div id="index">

<div class="story-topbar"></div>

<div class="left-over-coffe-only-one" style='top:165px;'>
    <ul>
    <li class="left-over-coffe-text-3">品牌故事
    </ul>
</div>

	<div class="left-para-coffe">
		<ul class="left-para-ul">
			<li class="left-para-list"><a href="/气之源/气之站介绍">气之站介绍</a>
			</li>
			<li class="left-para-list"><a href="/气之源/元气愿景">元气愿景</a>
			</li>
			<li class="left-para-list"><a href="/气之源/新闻站">新闻站</a>
			</li>
		</ul>
	</div>
    
<div class="text-story-about-qzz">
	<p class="text-between-lines">回首30年，崛起的中国已经成为了世界第二大经济体。而在创造奇迹的过程中，无数人用健康换取成功，不分昼夜，承受巨大的压力。</p>	
	<p class="text-between-lines">当富有成为上流社会普遍状态，人们享受美酒美食，享受成功的滋味的同时，也吞噬着健康。</p>
	<p class="text-between-lines">近年，这样的生活状态面临着被改变的趋势：越来越多人意识到健康适度生活的重要性，希望获得长寿、享受更久的生活。如同第二次世界大战后的日本、香港、台湾、韩国一样，中国正在“寻路”之中：从一笔财富的创造、到对财富的守护和维持，最终融入社会来体现个人价值和发展，从追求物质上的成功转变为赋予生命新的意义和价值。 </p>
    <p class="text-between-lines">我们以帮助人们实现更富足、更优越的生活为己任，以建立一种健康产业为信念，倡导现代的、有益身心平衡的生活理念，并为此提供高端健康养生产品，通过各种各样的方式与渠道，注入丰满的精神源动力，让更多人享受到健康带来的无限快乐，沐浴在真善美之中。</p>
     <p class="text-between-lines">我们将一直着眼于中国，将“气之站”的诚信品牌理念融入人们的生活，惠及下一代。</p>
</div>

<div class="story-bottombar"></div>

</div>
</body>


