<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康小贴士</title>
</head>

<link href="/assets/QZZ-tips.css" rel="stylesheet" type="text/css" media="screen" />

<body>

        <div  class="left-bar"></div>

        <div  class="left-top1">
               <p>什么是现代养生</p>
        </div>
        <div  class="left-top2">
               <p>现代养身新趋势</p>
        </div>
        <div  class="left-bottom">
               <div class="content-txt01">
                      健康小贴士
               </div>
               <div class="content-txt02">
               		<ul>
               			<li>时尚理由汉堡包、薯条只是不得已时偶尔</li><li>吃吃，工作已经够辛苦的了，还是要对自</li><li>己好一点。海鲜类食品高蛋白、低脂肪，</li><li>多吃一点也不用嚷嚷着减体重。</li>
               		</ul>
                    <ul>
                    	<li>颠覆理由海鲜是高营养、高蛋白，味道鲜</li><li>美，但多食无益。它很容易带给人们一种</li><li>现代富贵病痛风，根源在于海鲜含有的大</li><li>量毒素会在人体内蓄积。现代人的疾病有</li><li>情致方面原因造成的，比如工作紧张、焦</li><li>虑，人际关系不和谐带来的烦闷、抑郁</li><li>等。但多数人还是源于饮食不合理</li>
                    </ul>                    
               </div>
        </div>
        
        <div  class="right-bar"></div>
        <div  class="right-conent">
               <div class="content-txt01">
                      健康小贴士
               </div>
               <div class="content-txt02">
                    <ul>
                      <li>时尚理由汉堡包、薯条只是不得已时偶尔</li>
                      <li>吃吃，工作已经够辛苦的了，还是要对自己</li>
                      <li>好一点。海鲜类食品高蛋白、低脂肪，</li>
                      <li>多吃一点也不用嚷嚷着减体重。</li>
                    </ul>
                    <ul>
                      <li>颠覆理由海鲜是高营养、高蛋白，味道鲜</li>
                      <li>美，但多食无益。它很容易带给人们一种</li>
                      <li>现代富贵病痛风，根源在于海鲜含有的大</li>
                      <li>量毒素会在人体内蓄积。现代人的疾病有</li>
                      <li>情致方面原因造成的，比如工作紧张</li>
                    </ul>
               </div>
        </div>
        
</body>
</html>
