#motherHeadlineDiv{text-align: left;font-size: 1em;position: absolute;left: 34%;top:330px;}
#textArea1{ top: 160px;}
#textArea2{ top: 350px;}
#textArea3{ top: 368px;}
#textArea4{ left:35%;top: 390px;font-size:0.9em;}
