<!doctype html>
<html>
<body>

<% content_for :javascripts do %>
<script type="text/javascript">

$(function(){
	$("#wechat").mouseover(function(){		
		$("#wechatimg").show();			
	})
	$("#wechat").mouseout(function(){		
		$("#wechatimg").hide();			
	})
})
</script>
<% end %>

<div id="spinner"></div>
<!--<div class="menu-left"></div>
	<div class="menu-right"></div> -->
		<div id="index">
				<div class="logo-position"><a href="/home">
					<img src="/assets/qzz-logo-main.png" class="logo-large"></a>
				</div>
				<div class="contect-way">
					<div class="CN-or-EG"><center><img src="/assets/word-for-CN.png" style="float: left;width: 40px"><img src="/assets/word-for-Eg.png" style="width:58px"</center></div>
							<img src="/assets/message-yellow.png" class="img-size" id="wechat">
							<a href="mailto:qzzcare@qzzstore.com"><img src="/assets/qzz-mail.png" class="img-size"></a>
							<a href="http://weibo.com/qzzstore"><img src="/assets/qzz-weibo.png" class="img-size-last"></a>
							<img src="/assets/two-dimension.jpg" id="wechatimg" style="margin-top:10px;display: none;"/>
				</div>
				<div style="width: 100%;background: #222222;height:18px;">
					<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
				</div>
		</div>
	</div>
</body>
</html>
