@charset "utf-8";
/* CSS Document */
#index{
	width:auto;
}

.logo-position{
	position:absolute;
	left:6.06%;
	top:5.75%;
	width:5%;
	float:left;
}

.logo-large{
	width:100%;
	height:30%;
}

.contect-way{
	position: absolute; 
	left:83.75%;
	top:4.4%;
	width:7%;
	
}

.img-size{
	width:33%;
	height:3%;
	float:left;
}
.img-size-last{
	width:27%;
	height:3%;
	float:left;
}


.CN-or-EG{
	width:100%;
	height:41.8%;
}

.CN-or-EG-long{
	width:90%;
	height:5%;
}

footer{
	text-align: center;
	top:90%;
	position: absolute;
	width:100%;
	color:#a68352;
}
