@charset "utf-8";
/* CSS Document */
html{
	background: url(/assets/backgroud-pic-1366.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.backgroud-pic-1366.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='backgroud-pic-1366.png', sizingMethod='scale')";
}

body{
	font-family:Arial, 'Microsoft YaHei', 'Simsun';
	margin:0px;
}

#index{
	width:auto;
}

.left-para-coffe{
	height:67px;
	position:absolute;
	top:35.2%;
	left:15.4%;
	float:left;	
}

.left-para-coffe ul{
	transform:scale(0.8) skew(-24deg); 
     width:115px;
     -o-transform:scale(0.8) skew(-24deg); 
     -moz-transform: scale(0.8)skew(-24deg); 
     -webkit-transform: scale(0.8)skew(-24deg);
	 background-color:#937145;
	 margin-top:15px;
}

.left-para-coffe ul li{
	list-style-type:none;
	font-size:1.2em;
	line-height:1.2em;
	color:#FFF;}

.left-para-coffe-com{
	
	position:absolute;
	left:-13%;
	top:25%;
	width:17%;
	transform:scale(0.8) skew(-24deg); 
     -o-transform:scale(0.8) skew(-24deg); 
     -moz-transform: scale(0.8)skew(-24deg); 
     -webkit-transform: scale(0.8)skew(-24deg);
}

.left-para-coffe-com ul{
	 background-color:#946f39;
	 margin-left:3%;
}

.left-para-coffe-com ul li{
	transform:scale(0.8) skew(24deg); 
     -o-transform:scale(0.8) skew(24deg); 
     -moz-transform: scale(0.8)skew(24deg); 
     -webkit-transform: scale(0.8)skew(24deg);
	list-style-type:none;
	font-size:1.1em;
	line-height:1.2em;
	color:#FFF;}




.logo-position{
	position:absolute;
	left:6.06%;
	top:5.75%;
	width:5%;
	float:left;
}

.logo-large{
	width:100%;
	height:30%;
}

.contect-way{
	position: absolute; 
	left:83.75%;
	top:4.4%;
	width:7%;
	
}

.img-size{
	width:30%;
	height:3%;
	float:left;
	margin-left:6%
	
}
.img-size-first{
}
.img-size-last{
	width:24%;
	height:3%;
	float:left;
	margin-left:4%
}


.CN-or-EG{
	width:100%;
	height:41.8%;
}

.CN-or-EG-long{
	width:90%;
	height:5%;
}

.menu-left{
	top:75%;
	left:0%;
	width:11%;
	height:17px;
	position:absolute;
	background: #000;
}

.menu-right{
	top:75.2%;
	right:0%;
	position:absolute;
}

footer{
	text-align: center;
	top:90%;
	position: absolute;
	z-index:-80;
	width:100%;
	color:#a68352;
}
