/* CSS Document */
.center-jay{
	top:30%;
	left:35%;
	position:absolute;
	font-size: 18px;
	
}

.order-success-pic{
	float:left;
}

.order-sucess-text{
	width:400px;
	margin-top:20px;
	text-align: left;
	margin-left:130px;
}

.membertable table tr:first-child{
	background:rgba(147,113,69,1);
	color:#ffffff;
	height:28px;
}
#memberLevelTd{
	width:112px;
}
#vipLevelUpTd{
	width:225px;
}
#memberDiscountTd{
	width:222px;
}
#renewalNextYearTd{
	width:230px;
}
.membertable table tr{
	background:rgba(255,255,255,0.5);
	height:28px;
}

.membertable table tr td{
	padding-left:5px;
	}

/*.membertable{
	top:37%;
	left:20%;
	position:absolute;
}

.memberight{
	top:15%;
	left:20%;
	position:absolute;
	
}
*/
.memberight ul li{
	width:80%;
	margin-top:14px;
	font-size:13px;
	list-style-image: url("/assets/small-paradize2.png");
}

.plzregister{
	top:36%;
	left:40%;
	position:absolute;
}

.buttonclass{
	background:rgba(147,113,69,1);
	border:0px;
	width: 100px;
	height: 28px;
	margin-top:20px;
	border-radius: 5px;
	color:#fff;
	font-size:14px;
}
