@charset "utf-8";
/* CSS Document */
.contentbox{
	height:435px;
	width:760px;
	margin:-450px auto;
}
.content_top{
	//width:58%;
	height:50px;
	padding-left:20px;
	padding-top:10px;	
	background-color: #916f44;
	background: -webkit-gradient(linear, left top, right top, from(#c3922d), color-stop(2%,#f3df9b), color-stop(5%, #c3922d), color-stop(9%, #916f44),
	to(#916f44));
	background:-o-linear-gradient(left,#c3922d 0%, #f3df9b %2,#c3922d 5%,#916f44 %9);		
	background:-moz-linear-gradient(left,#c3922d 0%, #f3df9b 2%,#c3922d 5%,#916f44 9% );
	background: -webkit-linear-gradient(left,#c3922d 0%, #f3df9b %2,#c3922d 5%,#916f44 %9);
	background: -ms-linear-gradient(left,#c3922d 0%, #f3df9b %2,#c3922d 5%,#916f44 %9);
	background: linear-gradient(to right,#c3922d 0%, #f3df9b %2,#c3922d 5%,#916f44 %9);
	border-radius:25px 0px 0px 0px;
	color:#ffffff;
}
.content-info{
	height:360px;
	width:100%;
	overflow:auto;
	margin-top:-25px;	
	border-radius:25px 0px 0px 0px;
	z-index:999;
	position:absoulte;
//	background:#ffffff;
	background-image: -webkit-gradient(
          linear,left  top,left  bottom, from(rgba(255, 255, 255, 1.0)),
          to(rgba(255, 255, 255, 0))
        );
        background-image: -moz-linear-gradient(
          top center,
          rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
        );

        filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=0, startColor=0, endColorStr=#FFFFFF
        );

        -ms-filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=0, startColor=0, endColoStr=#FFFFFF
        );
	 background: -ms-linear-gradient(top,  rgba(255, 255, 255, 1.0) 0%,rgba(255, 255, 255, 0) 100%); 
}
.content_tab{
	padding-top:15px;
	width:100%;
}
.content_txt01{
	width:16%;
	padding-left:3%;
}
.content_input01{
	width:32%;
}
.content_input02{
	background-color:#cdcfd0;
	border-style:none;
	width:100%;
}
.content_txt02{
	width:49%;
}
.content_select{
	background-color:#cdcfd0;
	width:40%;
	border-width:0;
	margin-left:2%;
}
.content_input03{
	width:7.3%;
}
.content_txt03{
	width:3.7%;
	text-align:center;
}
.content_input04{
	width:17%;
}
.content_txt04{
	width:42%;
}
.content_input05{
	width:10%;
}
.content_txt05{
	width:4%;
    text-align:center;
}
.content_txt06{
	width:18%;
	text-align:center;
}
.content_input06{
	width:13%;
}
.content_input07{
	width:31%;
}
.content_txt07{
	padding-left:3%;	
}
.content_txt08{
	padding-left:3%;
	width:12%;
}
.content_input08{
	width:16%;
}
.content_txt09{
	background-color:#937145;
	border-radius:10%;
	border-width:0;
	color:#ffffff;
	margin-left:2%;
}
.content_txt10{
	padding-left:3%;
	width:48%;
}
/*QZZ login*/
.loginbox{
	height:235px;
	width:40%;
	margin:-350px auto;
}
.login_content{
	height:200px;
	width:100%;
	margin-top:-25px;	
	border-radius:25px 0px 0px 0px;
	z-index:999;
	position:absoulte;
//	background:#ffffff;
    background-image: -webkit-gradient(
          linear,left  top,left  bottom, from(rgba(255, 255, 255, 1.0)),
          to(rgba(255, 255, 255, 0))
        );
        background-image: -moz-linear-gradient(
          top center,
          rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
        );

        /* IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=0, startColor=0, endColorStr=#FFFFFF
        );

        /* IE8 uses -ms-filter for whatever reason... */
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=0, startColor=0, endColoStr=#FFFFFF
        );
	 background: -ms-linear-gradient(top,  rgba(255, 255, 255, 1.0) 0%,rgba(255, 255, 255, 0) 100%); 
}
.login_txt01{
	width:25%;
	padding-left:3%;	
}
.login_input01{
	width:54%;	
}
.login_input02{
	width:100%;
}
.login_txt02{
	width:15%;
	padding-left:3%;
}
.login_txt03{
	width:25%;
	padding-left:3%
}
.login_input03{
	width:21%;
}
.login_txt04{
	width:64px;
	border-width:0;
	margin-left:3%;
	background-color:#bec0c2;
}
.login_txt05{
	width:62%;
}
.login_txt06{
	width:8.5%;
}
/*QZZ product-order*/
.order_left{
	float:left;
	width:52%;
}
.order_right{
	float:right;
	width:35%;
	padding-left:13%;
	padding-top:3%;
}
.order_txt01{
	padding-left:6%;
	width:31%;
}
.order_input01{
	width:61%;
}
.order_select{
	background-color:#cdcfd0;
	width:40%;
	border-width:0;
	margin-left:5%;
}
.order_txt02{
	padding-left:3%;
	width:16%;
	background-color:#03C;
}
.order_input02{
	width:17%;
}
.order_txt03{
	width:64%;
}
.order_select02{
	background-color:#cdcfd0;
	width:20%;
	border-width:0;
	margin-left:1%;
}
.order_bottom{
	border-top-style:solid;
	border-color:#6d6f71;
	border-width:2px;
	margin-top:3%;
}
.order_txt04{
	padding-top:3%;
	padding-left:3%;
}
.order_txt05{
	margin-left:80%;
	background-color:#937145;
	border-radius:10%;
	border-width:0;
	color:#ffffff;
}
.order_top{
	width:95.5%;
	height:50px;
	padding-left:4.5%;
	padding-top:10px;
	background-color: #916f44;	
	background: -webkit-gradient(linear, left top, right top, from(#c3922d), color-stop(2%,#f3df9b), color-stop(5%, #c3922d), color-stop(9%, #916f44),
	to(#916f44));
	background:-o-linear-gradient(left,#c3922d 0%, #f3df9b %2,#c3922d 5%,#916f44 %9);		
	background:-moz-linear-gradient(left,#c3922d 0%, #f3df9b 2%, #c3922d 5%,#916f44 9% );
	background: -webkit-linear-gradient(left,#c3922d 0%, #f3df9b %2,#c3922d 5%,#916f44 %9);
	background: -ms-linear-gradient(left,#c3922d 0%, #f3df9b %2,#c3922d 5%,#916f44 %9);
	background: linear-gradient(to right,#c3922d 0%, #f3df9b %2,#c3922d 5%,#916f44 %9);
	border-radius:25px 0px 0px 0px;
	color:#ffffff;
}
.order_top01{
	float:left;
}
.order_top02{
	float:right;
	padding-right:4%;
}
