#leftTextDiv{
	height: 450px;
	width: 550px;
	position: absolute;
	top: 20px;
	left: 20%;
	font-size: 13px;
	background-color: white;
	opacity: 0.6;
	padding-left:15px;
}
#leftTextDiv p{
	margin:5px 0;
}
.rightImgDiv{
	position: absolute;
	height: 350px;
	width: 240px;
	top: 90px;
	right: 10%;
}
.rightImgDiv p{
	margin:0;
	padding:0;
}

.bottom_big_img{
	max-height:310px;
	width:240px;
}
.topLogoImg{
	max-width:240px;
	max-height:100px;
}
.rightImgDiv{
	display:none;
}
#rightImageDiv1{
	display:block;
}
#rightImageDiv5>p>.bottom_big_img{
	height:270px;
}
#rightImageDiv2>p>img{
	width:240px;
}
.headlineP1{
	font-size: 18px;
}
.headlineP2{
	font-weight: bold;
	padding-left:20px;
}
.headlineP3{
	padding-left: 30px; 
}
.normalLineP1{
	padding-left:158px;
}
.normalLineP2{
	padding-left:77px;
}
.normalLineP3{
	padding-left:78px;
}
p{
	margin-bottom:5px;
}
.salesPlaceText :hover{
	color:#927044;
}
.logo_text{
	color:#927044;
	font-size:20px;
	display:inline-block;
}