@charset "utf-8";
/* CSS Document */
a {text-transform:none;
text-decoration:none;
color:#FFF;
} 
a:hover {text-decoration:none} 

#body{
	width:auto;
	height:100%;
	/*font-size:44px;*/
}

/*introdue-qzz*/
.text-position{
	position:absolute;
	top: 37.7%;
	left:30.6%;
	list-style-type: none;
	float: none;
	width: 57.3%;
	height:12.3%;
	text-align:right;
}

.first-line{
	list-style-type:none;
	font-size:1.5em;
	
}

.second-line{
	list-style-type:none;
	font-size:1em;
	text-align:left;
	padding-top:0.5%;
}



.left-over-coffe{
	font-size:1.5em;
	position:absolute;
	top:25%;
	left:18.4%;
	color:#a68352;
	word-spacing:0.5em;
}

.left-over-coffe-only-one{
	font-size:1.5em;
	position:absolute;
	top:27%;
	left:14.4%;
	color:#a68352;
	word-spacing:0.5em;
}

.left-over-coffe-text-1{
	list-style-type:none;
	margin-left:-30px;
}
.left-over-coffe-text-2{
	list-style-type:none;
	margin-left:20px;
}
.left-over-coffe-text-3{
	list-style-type:none;
	
}


/*news-story*/

.text-story-about-qzz{
	position:absolute;
	left:30.2%;
	top:43.6%;
	width:56.4%;
	text-align:left;
}

.text-story-about-qzz-word{
	margin-left:30%;
	margin-top:29.6%;
	width:57.6%;
	list-style-type:none;
}
.text-between-lines{
	margin-top:-18px;
	text-indent: 2em;}

/*新闻站*/
	
.paradize-div{
	 margin-left:3%;
	 margin-top:17%;
	 width:42.75%;
}
.before-para{
	width:12px;
	align:left;
	
}
.para-text-1{
	text-align:left;
	font-size:1em;
	position:absolute;
	left:34%;
	top:38.4%;
	}

.img-position{
	float:left;
}

.para-text-1-1{
	position:absolute;
	left:35%;
	top:43.3%;
	width:630px;
	text-align:left;
	font-size:1em;
	
}

.text-between-lines-3{
	
	font-size:0.9em;
	
	}

.text-between-lines-2{
	margin-top:-12px;
	font-size:0.9em;
	}
.text-between-lines-2-first{
	margin-top:12px;
	font-size:0.9em;
	}
	
.member-activites{
	position: absolute;
	left: 34%;
	top: 34%;
}	
	
/*元气远景*/
.para-Y-left{
	 transform:scale(1) skew(-24deg); 
     -o-transform:scale(1) skew(-24deg); 
     -moz-transform: scale(1)skew(-24deg); 
     -webkit-transform: scale(1)skew(-24deg);
	 width:66px;
	 height:45px;
	 color:#FFF;
	 background-color:#937145;
	 position:absolute;
	 top:32%;
	 left:32.3%;
	 float:left;
}
.text-para-Y{
	transform:scale(1) skew(-2deg); 
     -o-transform:scale(1) skew(-2deg); 
     -moz-transform: scale(1)skew(-2deg); 
     -webkit-transform: scale(1)skew(-2deg);
	font-size:0.6em;
	line-height:1.7em;
	text-align:center;
	margin-top:-6px;		
}
.p-line-high{
	margin-top:-18px;
}
.para-W-right{
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	width: 400px;
	color: #000;
	background: rgba(255,255,255,0.5);
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	left:37%;
	top: 32%;
	float: left;
	height: 33px;
	padding-top:14px;
}
.para-W-right-text{
	
	font-size:0.8em;
	margin-left:5px;
}
.outside-para{
	transform: scale(1.2) skew(-24deg);
	-o-transform: scale(1.2) skew(-24deg);
	-moz-transform: scale(1.2)skew(-24deg);
	-webkit-transform: scale(1.2)skew(-24deg);
	border:solid #000 1px;
}
	
