@charset "utf-8";
/* CSS Document */
a {text-transform:none;
text-decoration:none;
color:#FFF;
} 
a:hover {text-decoration:none} 

#body{
	width:auto;
	height:100%;
	/*font-size:44px;*/
}

/*introdue-qzz*/
.text-position{
	position:absolute;
	top: 37.7%;
	left:30.6%;
	list-style-type: none;
	float: none;
	width: 57.3%;
	height:12.3%;
	text-align:right;
}

.first-line{
	list-style-type:none;
	font-size:1.5em;
	
}

.second-line{
	list-style-type:none;
	font-size:1em;
	text-align:left;
	padding-top:0.5%;
}



.left-over-coffe{
	font-size:1.5em;
	position:absolute;
	top:25%;
	left:18.4%;
	color:#a68352;
	word-spacing:0.5em;
}

.left-over-coffe-only-one{
	font-size:1.5em;
	position:absolute;
	top:27%;
	left:14.4%;
	color:#a68352;
	word-spacing:0.5em;
}
.left-over-coffe-only-one-1{
	font-size:1.2em;
	position:absolute;
	top:21%;
	left:-10%;
	color:#000;
	transform:scale(1) skew(24deg); 
     -o-transform:scale(1) skew(24deg); 
     -moz-transform: scale(1)skew(24deg); 
     -webkit-transform: scale(1)skew(24deg);
	
}


.left-over-coffe-text-1{
	list-style-type:none;
	margin-left:-30px;
}
.left-over-coffe-text-2{
	list-style-type:none;
	margin-left:20px;
}
.left-over-coffe-text-3{
	list-style-type:none;
	
}


/*news-story*/

.text-story-about-qzz{
	position:absolute;
	left:30.2%;
	top:39.6%;
	width:56.4%;
	text-align:left;
}

.text-story-about-qzz-word{
	margin-left:30%;
	margin-top:29.6%;
	width:57.6%;
	list-style-type:none;
}
.text-between-lines{
	margin-top:-18px;
	text-indent: 2em;}

/*新闻站**/
	
.paradize-div{
	 margin-left:3%;
	 margin-top:17%;
	 width:42.75%;
}
.before-para{
	width:12px;
	align:left;
	
}
.para-text-1{
	text-align:left;
	font-size:1em;
	position:absolute;
	left:34%;
	top:38.4%;
	}

.img-position{
	float:left;
}

.para-text-1-1{
	position:absolute;
	left:35%;
	top:43.3%;
	width:630px;
	text-align:left;
	font-size:1em;
	
}

.text-between-lines-3{
	
	font-size:0.9em;
	
	}

.text-between-lines-2{
	margin-top:-12px;
	font-size:0.9em;
	}
.text-between-lines-2-first{
	margin-top:12px;
	font-size:0.9em;
	}
	
.member-activites{
	position: absolute;
	left: 34%;
	top: 34%;
}	
	
/*元气远景*/
.para-Y-left{
	 transform:scale(1) skew(-24deg); 
     -o-transform:scale(1) skew(-24deg); 
     -moz-transform: scale(1)skew(-24deg); 
     -webkit-transform: scale(1)skew(-24deg);
	 width:66px;
	 height:45px;
	 color:#FFF;
	 background-color:#a68352;
	 position:absolute;
	 top:32%;
	 left:32.3%;
	 float:left;
}
.para-Y-left-bc{
	 transform:scale(1) skew(-24deg); 
     -o-transform:scale(1) skew(-24deg); 
     -moz-transform: scale(1)skew(-24deg); 
     -webkit-transform: scale(1)skew(-24deg);
	 width:66px;
	 height:45px;
	 color:#FFF;
	 background-color:#937145;
	 position:absolute;
	 top:33%;
	 left:31.5%;
	 float:left;
}
.para-Y-left-1{
	 transform:scale(1) skew(-24deg); 
     -o-transform:scale(1) skew(-24deg); 
     -moz-transform: scale(1)skew(-24deg); 
     -webkit-transform: scale(1)skew(-24deg);
	 width:66px;
	 height:45px;
	 color:#FFF;
	 background-color:#a68352;
	 position:absolute;
	 top:41%;
	 left:65%;
	 float:left;
}
.para-Y-left-1-bc{
	 transform:scale(1) skew(-24deg); 
     -o-transform:scale(1) skew(-24deg); 
     -moz-transform: scale(1)skew(-24deg); 
     -webkit-transform: scale(1)skew(-24deg);
	 width:66px;
	 height:45px;
	 color:#FFF;
	 background-color:#937145;
	 position:absolute;
	 top:42%;
	 left:64.2%;
	 float:left;
}
.para-Y-left-2{
	 transform:scale(1) skew(-24deg); 
     -o-transform:scale(1) skew(-24deg); 
     -moz-transform: scale(1)skew(-24deg); 
     -webkit-transform: scale(1)skew(-24deg);
	 width:66px;
	 height:45px;
	 color:#FFF;
	 background-color:#a68352;
	 position:absolute;
	 top:50%;
	 left:29%;
	 float:left;
}
.para-Y-left-2-bc{
	 transform:scale(1) skew(-24deg); 
     -o-transform:scale(1) skew(-24deg); 
     -moz-transform: scale(1)skew(-24deg); 
     -webkit-transform: scale(1)skew(-24deg);
	 width:66px;
	 height:45px;
	 color:#FFF;
	 background-color:#937145;
	 position:absolute;
	 top:51%;
	 left:28.1%;
	 float:left;
}
.para-Y-left-3{
	 transform:scale(1) skew(-24deg); 
     -o-transform:scale(1) skew(-24deg); 
     -moz-transform: scale(1)skew(-24deg); 
     -webkit-transform: scale(1)skew(-24deg);
	 width:66px;
	 height:45px;
	 color:#FFF;
	 background-color:#a68352;
	 position:absolute;
	 top: 59.5%;
	 left:61%;
	 float:left;
}
.para-Y-left-3-bc{
	 transform:scale(1) skew(-24deg); 
     -o-transform:scale(1) skew(-24deg); 
     -moz-transform: scale(1)skew(-24deg); 
     -webkit-transform: scale(1)skew(-24deg);
	 width:66px;
	 height:45px;
	 color:#FFF;
	 background-color:#937145;
	 position:absolute;
	 top: 60.5%;
	 left:60.3%;
	 float:left;
}
.text-para-Y{
	transform:scale(1) skew(-2deg); 
     -o-transform:scale(1) skew(-2deg); 
     -moz-transform: scale(1)skew(-2deg); 
     -webkit-transform: scale(1)skew(-2deg);
	font-size:0.6em;
	line-height:1.7em;
	text-align:center;
	margin-top:-6px;		
}
.p-line-high{
	margin-top:-18px;
}
.para-W-right{
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	width: 400px;
	color: #000;
	background: rgba(255,255,255,0.5);
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	left:37%;
	top: 32%;
	float: left;
	height: 33px;
	padding-top:14px;
}
.para-W-right-1{
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	width: 400px;
	color: #000;
	background: rgba(255,255,255,0.5);
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	left:26%;
	top: 41%;
	float: left;
	height:40px;
	padding-top: 5px;
	margin-left:10%;
}
.para-W-right-2{
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	width: 400px;
	background-color:#fff;
	color: #000;
	background: rgba(255,255,255,0.5);
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	left:32.8%;
	top: 50%;
	float: left;
	height: 44px;
	padding-top:5px;
	margin-left:1%;
}
.para-W-right-3{
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	width: 400px;
	color: #000;
	background: rgba(255,255,255,0.5);
	background-color:#FFF;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: absolute;
	left:30%;
	top: 59.5%;
	height: 33px;
	width:31%;
	padding-top:14px;
}
.para-W-right-text{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	font-size:0.8em;
	margin-left:3%;
}
.para-W-right-text-1{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	font-size:0.8em;
	margin-left:5px;
}
.outside-para{
	transform: scale(1.2) skew(-24deg);
	-o-transform: scale(1.2) skew(-24deg);
	-moz-transform: scale(1.2)skew(-24deg);
	-webkit-transform: scale(1.2)skew(-24deg);
	border:solid #000 1px;
}
/*product1*/
.left-over-coffe-only-one-black{
	font-size:1.5em;
	position:absolute;
	top:21.3%;
	left:15.3%;
	color:#000;
	word-spacing:0.5em;
}
.white-blank-pro1{
	background-color: #FFF;
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	position: absolute;
	top: 209px;
	left: 22%;
	width: 23%;
	height: 34.5%;
}
.coffe-slim-blank-pro1{
	background-color: #937145;
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	position: absolute;
	top:225px;
	left: 25.5%;
	width:20%;
	height: 32%;
	z-index:-1;
}
.white-blank-pro1 span{
	background-color: #fff;
	background:rgba(0,0,0,0.5) !important; /*实现FF背景透明，文字不透明*/
background:#000; filter:Alpha(opacity=50);/*实现IE背景透明*/ 
	position: absolute;
	top: 209px;
	left: 22%;
	width: 23%;
	height: 34.5%;
}


.white-blank-pro2{
	background-color: #FFF;
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	
	position: absolute;
	top: 209px;
	left: 49%;
	width: 23%;
	height: 34.5%;
}
.coffe-slim-blank-pro2{
	background-color: #937145;
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	position: absolute;
	top:225px;
	left: 52.5%;
	width:20%;
	height: 32%;
	z-index:-1;
}
.coffe-blank-pro1-top{
	transform: scale(1) skew(0deg);
	-o-transform: scale(1) skew(0deg);
	-moz-transform: scale(1)skew(0deg);
	-webkit-transform: scale(1)skew(0deg);
	background-color:#937145;
	background: -moz-linear-gradient(left, #e6d191 20%, #937145 62.9%, #937145 100%);
	background: -webkit-linear-gradient(left, #e6d191 20%, #937145 62.9%, #937145 100%);
	background: -o-linear-gradient(left, #e6d191 20%, #937145 62.9%, #937145 100%);
	background: -ms-linear-gradient(left, #e6d191 20%, #937145 62.9%, #937145 100%);
	background: linear-gradient(to right, #e6d191 20%, #937145 62.9%, #937145 100%);
	background: -webkit-gradient(linear,  top left, top right, color-stop(0%, #000),color-stop(88%, #000), color-stop(100%, #fff));
	margin-top:8%;
	padding-left:10%;
	word-spacing:1.4em;
	color:#fff;
	width:30%;
	font-size:1em;
}
.coffe-blank-pro1-top-2{
	transform: scale(1) skew(0deg);
	-o-transform: scale(1) skew(0deg);
	-moz-transform: scale(1)skew(0deg);
	-webkit-transform: scale(1)skew(0deg);
	background-color:#937145;
	
	margin-top:8%;
	padding-left:5%;
	word-spacing:1.4em;
	color:#fff;
	width:41%;
	font-size:1em;
}
.img-blank-pro1-inside{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	width:80%;
	margin-top:10%;
	margin-left:10%;
}
.pop{
	position: absolute;
	top:0px;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5) !important;
	background:#000; filter:Alpha(opacity=50);
	background-color:#000;
	z-index: 99;
	display: none;
}
.pop p{
	text-indent:-33px;
	color:#fff;
	list-style-type:none;
	font-size:12px;
	width:80%;
	margin-left:15%;
	margin-top:1px;
	line-height:1.2em;
}
.img-blank-pro1-inside-2{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	width:52%;
	margin-top:4%;
	margin-left:30%;
}

/*the second pro*/
.coffe-blank-pro1-over{
	transform: scale(1) skew(0deg);
	-o-transform: scale(1) skew(0deg);
	-moz-transform: scale(1)skew(0deg);
	-webkit-transform: scale(1)skew(0deg);
	background-color:#937145;
	background: -moz-linear-gradient(left, #b99b65 6%, #937145 20%, #937145 100%);
	background: -webkit-linear-gradient(left, #b99b65 6%, #937145 20%, #937145 100%);
	background: -o-linear-gradient(left, #b99b65 6%, #937145 20%, #937145 100%);
	background: -ms-linear-gradient(left, #b99b65 6%, #937145 20%, #937145 100%);
	background: linear-gradient(to right, #b99b65 6%, #937145 20%, #937145 100%);
	background: -webkit-gradient(linear,  top left, top right, color-stop(0%, #000),color-stop(88%, #000), color-stop(100%, #fff));
	margin-top:-14%;
	margin-left:-0.5%;
	padding-left:9%;
	word-spacing:1.4em;
	color:#fff;
	width:260px;
	font-size:0.9em;
	z-index:999;
}

.coffe-blank-pro1-over ul li{
	list-style-type:none;
	margin-left:-23%;
	}
.img-blank-pro1-inside-1{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	width:65%;
	margin-top:-2%;
	margin-left:15%;
}

.number-text-1{
	margin-top:-10%;
	margin-left:5%;
}
.number-text-1 ul li:first-child{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	list-style-type:none;
	font-size:0.7em;
	margin-left:-16%;
}
.number-text-1 ul li:last-child{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	list-style-type:none;
	font-size:1em;
	margin-left:-12%;
	color:#909294;
}

.number-text-2{
	margin-top:-10%;
	margin-left:5%;
}
.number-text-2 ul li:first-child{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	list-style-type:none;
	font-size:0.7em;
	margin-left:-16%;
}
.number-text-2 ul li:last-child{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	list-style-type:none;
	font-size:1em;
	margin-left:-12%;
	color:#909294;
}
.img-blank-pro1-inside-3{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	width:60%;
	margin-top:0.5%;
	margin-left:13%;
}
.button-product2 input{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	background-color:#937145;
	position:absolute;
	left:65.6%;
	top:80%;
	 border-width: 0px;
	 width:137px;
	 height:30px;
   	 color:#FFF;
	 border-radius: 8px;
	 font-size:1em;
	 margin-left:-14%;
	}
/*现代养生*/
.large-background{
	background-color: #FFF;
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	background: -moz-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -webkit-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -o-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -ms-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: linear-gradient(to right, #a1753f 1%, #c59a47 100%);
	background: -webkit-gradient(linear,  top left, top right, color-stop(0%, #a1753f), color-stop(100%, #c59a47));
	z-index:-99;
	
	width:55%;
	height:100%;
	position:absolute;
	left:29%;
	top:0%;
}
.large-inside-text{	
	width:78%;
	height:50%;
	margin-top:23%;
	margin-left:8.7%;
}
.large-inside-text ul{
	
	list-style-type:none;
	color:#fff;
	font-size:1.5em;
	padding-left:16.7%;
}
.large-inside-text ul li{
	margin-top:3%;
	line-height:1.5em;
	font-size:0.5em;
	font-style:normal;
}

.large-inside-img{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	position:absolute;
	left:-23%;
	top:33%;
	width:38%;
}
.little-text-double{
	transform: scale(0.8) skew(-24deg);
	-o-transform: scale(0.8) skew(-24deg);
	-moz-transform: scale(0.8)skew(-24deg);
	-webkit-transform: scale(0.8)skew(-24deg);
	
	position:absolute;
	width:29%;
	height:5%;
	left:84%;
	top:23%;
	background: -moz-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -webkit-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -o-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -ms-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: linear-gradient(to right, #a1753f 1%, #c59a47 100%);
	background: -webkit-gradient(linear,  top left, top right, color-stop(0%, #a1753f), color-stop(100%, #c59a47));
}
.little-text-double ul li{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	list-style-type:none;
	color:#fff;
	font-size:1em;
	margin-top:-7%;
}
.little-text-double-2{
	transform: scale(0.8) skew(-24deg);
	-o-transform: scale(0.8) skew(-24deg);
	-moz-transform: scale(0.8)skew(-24deg);
	-webkit-transform: scale(0.8)skew(-24deg);
	
	position:absolute;
	width:29%;
	height:5%;
	left:84%;
	top:29%;
	background: -moz-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -webkit-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -o-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -ms-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: linear-gradient(to right, #a1753f 1%, #c59a47 100%);
	background: -webkit-gradient(linear,  top left, top right, color-stop(0%, #a1753f), color-stop(100%, #c59a47));
}
.little-text-double-2 ul li{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	list-style-type:none;
	color:#fff;
	font-size:1em;
	margin-top:-7%;
	text-align: center;
}
/*现代养生*/
.large-background-now{
	background-color: #FFF;
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	z-index:-99;
	
	background: -moz-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -webkit-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -o-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: -ms-linear-gradient(left, #a1753f 1%, #c59a47 100%);
	background: linear-gradient(to right, #a1753f 1%, #c59a47 100%);
	background: -webkit-gradient(linear,  top left, top right, color-stop(0%, #a1753f), color-stop(100%, #c59a47));
	
	width:45%;
	height:100%;
	position:absolute;
	left:40%;
	top:0%;
}
.large-inside-text-1{	
	width:94%;
	height:50%;
	margin-top:30%;
	margin-left:-5%;
}
.large-inside-text-1 ul{
	
	list-style-type:none;
	color:#fff;
	font-size:1.5em;
	padding-left:16.7%;
}
.large-inside-text-1 ul li{
	margin-top:0%;
	line-height:2em;
	font-size:0.5em;
	font-style:normal;
}
/*公司信息*/
.large-background-now-com{
	background-color: #FFF;
	transform: scale(1) skew(-24deg);
	-o-transform: scale(1) skew(-24deg);
	-moz-transform: scale(1)skew(-24deg);
	-webkit-transform: scale(1)skew(-24deg);
	background: -moz-linear-gradient(left, #d2a93b 1%, #966532 100%);
	background: -webkit-linear-gradient(left, #d2a93b 1%, #966532 100%);
	background: -o-linear-gradient(left, #d2a93b 1%, #966532 100%);
	background: -ms-linear-gradient(left, #d2a93b 1%, #966532 100%);
	background: linear-gradient(to right, #d2a93b 1%, #966532 100%);
	background: -webkit-gradient(linear,  top left, top right, color-stop(0%, #d2a93b), color-stop(100%, #966532));
	z-index:-99;
	width:74%;
	height:100%;
	position:absolute;
	left:15%;
	top:0%;
}

.large-img-inside{
	height:40%;
	width:70%;
	position:absolute;
	left:12%;
	top:24%;
}
.large-img-inside-2{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	height:40%;
	width:70%;
	position:absolute;
	left:12%;
	top:24%;
}
.large-inside-text-3{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	position:absolute;
	left:35%;
	top:20%;
	width:30%;
	color:#fff;
	font-size:1.3em;
	margin-left:19%;
}
.large-inside-text-small{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	font-size:0.9em;
	color:#FFF;
	position:absolute;
	left:16%;
	top:66%;
}
.large-inside-text-small-2{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	font-size: 0.9em;
	margin-left:7%;
	color: #000;
	position: absolute;
	left: 12%;
	top: 66%;
	width: 55%;
}
.large-img-inside-map{
	transform: scale(1) skew(24deg);
	-o-transform: scale(1) skew(24deg);
	-moz-transform: scale(1)skew(24deg);
	-webkit-transform: scale(1)skew(24deg);
	height:40%;
	width:70%;
	position:absolute;
	left:12%;
	top:24%;
}
