<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/qzz_sunray.css">
		<meta charset=utf-8 />
		<title>QZZ Splash</title>
	</head>
	<body>
		<a href="/home"><canvas id="logo"></canvas></a>
		<script src="/jquery.min.js"></script>
		<script src="/qzz_sunray.js"></script>
	</body>
</html>
